
@{
    ViewData["Title"] = "AboutUs";
}
<head>
<link rel="stylesheet" type="text/css" href="~/css/aboutus.css" />
</head>
<div style="padding-top: 50px;text-align: center;
    background-color: black;
    color:white;
    border-radius: 1px;">
    <h1>About Us</h1>
</div>
<div class="row">
    <div class="column">
        <div class="card">

            <img src="~/img/helicopter_jesid.png" alt="Jesid" style="width:100%">

            <div class="container">
                <h2>Jesid Acosta</h2>
                <!-- <p class="title">CEO & Founder</p> -->
                <p>Business Analytics and Information Systems M.S. student at the University of South Florida. His domain experience in the Steel industry, and the housing needs he saw while working as a community organizer in Tampa helped inspire the use case for this site. His main contribution to this website consists in organizing and setting up the layout of the site.</p>
                <p><a href="https://github.com/jvac06">GitHub - jvac06</a></p>
                <p><a href="mailto:jesid@mail.usf.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">

            <img src="~/img/r_gokul1.jpg" alt="Gokul" style="width:100%">

            <div class="container">
                <h2>Gokul Shanth</h2>
                <!-- <p class="title">Art Director</p> -->
                <p>Business Analytics and Information Systems M.S. student at the University of South Florida. My experience in full stack development helped me in creating mobile first, responsive websites. His main contribution to this website consists in setting up tables from the API and creating graphs on the website.</p>
                <p><a href="https://github.com/gokul1794">GitHub - gokul1794</a></p>
                <p><a href="mailto:gokulshanth@mail.usf.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">

            <img src="~/img/ritik.jpeg" alt="Ritik" style="width:100%">

            <div class="container">
                <h2>Ritik Gupta</h2>
                <!-- <p class="title">Designer</p> -->
                <p>Business Analytics and Information System.<br>Tampa's Smart city project inititated the curiosity to learn Construction spending<br>Worked on Data Modeling and Selection along with ideas to structure data flow in the website for users</p>
                <p><a href="https://github.com/ritik777">GitHub - ritik777</a></p>
                <p><a href="mailto:ritik@mail.usf.edu" class="button">Contact</a></p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card">
        <h2 style="text-align: center;">Data Model</h2>
        <img src="~/img/DIS_3.jpg" alt="John" style="width:100%">
        <div class="container">
            <!-- <p class="title">Designer</p> -->
            <!-- <p>Business Analytics and Information System.<br>Tampa's Smart city project inititated the curiosity to learn Construction spending<br>Worked on Data Modeling and Selection along with ideas to structure data flow in the website for users<br><a href="https://github.com/ritik777">Github</a></p>
            <p>ritik@mail.usf.edu</p>
            <p><button class="button">Contact</button></p> -->
        </div>
    </div>
</div>

