@model dynamic
@{
    ViewData["Title"] = "Graphs";
}
    <head>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <style>
            .jumbotron {
                padding: 0rem 0rem;
                text-align: center;
            }
        </style>
    </head>

    <div class="jumbotron">
        <h1 class="display-4">Rates of Change in Housing</h1>
        <p class="lead">Overall % Changes in residential numbers. Base number: Quarter 1, 2002</p>
    </div>
<div class="main">
    <div class="content">
        <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
</div>
<script type="text/javascript">
            <!-- https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv -->
            Plotly.d3.csv("https://raw.githubusercontent.com/gokul1794/assn2-cps/master/csr.csv", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
                }

var trace1 = {
  type: "scatter",
  mode: "lines",
  x: ["2002-01","2002-04","2002-07","2002-10","2003-01","2003-04","2003-07","2003-10","2004-01","2004-04","2004-07","2004-10","2005-01","2005-04","2005-07","2005-10","2006-01","2006-04","2006-07","2006-10","2007-01","2007-04","2007-07","2007-10","2008-01","2008-04","2008-07","2008-10","2009-01","2009-04","2009-07","2009-10","2010-01","2010-04","2010-07","2010-10","2011-01","2011-04","2011-07","2011-10","2012-01","2012-04","2012-07","2012-10","2013-01","2013-04","2013-07","2013-10","2014-01","2014-04","2014-07","2014-10","2015-01","2015-04","2015-07","2015-10","2016-01","2016-04","2016-07","2016-10","2017-01","2017-04","2017-07","2017-10","2018-01","2018-04","2018-07","2018-10","2019-01","2019-04","2019-07","2019-10"],
    y: @Model.rate,
  name: 'Spending Rate',
  //x: unpack(rows, 'time_slot_date'),
  //y: unpack(rows, 'cell_value'),
  line: {color: '#00A388'}
}

var trace2 = {
  type: "scatter",
  mode: "lines",
  x: ["2002-01","2002-04","2002-07","2002-10","2003-01","2003-04","2003-07","2003-10","2004-01","2004-04","2004-07","2004-10","2005-01","2005-04","2005-07","2005-10","2006-01","2006-04","2006-07","2006-10","2007-01","2007-04","2007-07","2007-10","2008-01","2008-04","2008-07","2008-10","2009-01","2009-04","2009-07","2009-10","2010-01","2010-04","2010-07","2010-10","2011-01","2011-04","2011-07","2011-10","2012-01","2012-04","2012-07","2012-10","2013-01","2013-04","2013-07","2013-10","2014-01","2014-04","2014-07","2014-10","2015-01","2015-04","2015-07","2015-10","2016-01","2016-04","2016-07","2016-10","2017-01","2017-04","2017-07","2017-10","2018-01","2018-04","2018-07","2018-10","2019-01","2019-04","2019-07","2019-10"],
    y: @Model.vacantRate,
  name: 'Vaccancy Rate',
  //x: unpack(rows, 'time_slot_date'),
  //y: unpack(rows, 'cell_value'),
  line: {color: '#5673BD'}
                }

var trace3 = {
  type: "scatter",
  mode: "lines",
  x: ["2002-01","2002-04","2002-07","2002-10","2003-01","2003-04","2003-07","2003-10","2004-01","2004-04","2004-07","2004-10","2005-01","2005-04","2005-07","2005-10","2006-01","2006-04","2006-07","2006-10","2007-01","2007-04","2007-07","2007-10","2008-01","2008-04","2008-07","2008-10","2009-01","2009-04","2009-07","2009-10","2010-01","2010-04","2010-07","2010-10","2011-01","2011-04","2011-07","2011-10","2012-01","2012-04","2012-07","2012-10","2013-01","2013-04","2013-07","2013-10","2014-01","2014-04","2014-07","2014-10","2015-01","2015-04","2015-07","2015-10","2016-01","2016-04","2016-07","2016-10","2017-01","2017-04","2017-07","2017-10","2018-01","2018-04","2018-07","2018-10","2019-01","2019-04","2019-07","2019-10"],
    y: @Model.occupantRate,
  name: 'Occupancy Rate',
  //x: unpack(rows, 'time_slot_date'),
  //y: unpack(rows, 'cell_value'),
  line: {color: '#5F5F5F'}
}

/*var trace2 = {
  type: "scatter",
  mode: "lines",
  x: unpack(rows, 'Date'),
  y: unpack(rows, 'AAPL.Low'),
  line: {color: '#7F7F7F'}
}*/

                //var data = [trace1,trace2];
var data = [trace1, trace2, trace3];

var layout = {
  title: 'Residential Rates (2002-2019)',
  xaxis: {
    range: ['2002-01', '2019-12'],
    type: 'date'
  },
  yaxis: {
    autorange: true,
    //range: [86.8700008333, 138.870004167],
    type: 'linear'
  }
};

Plotly.newPlot('myDiv', data, layout);

            })

</script>

