@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<div>
    <img class="main" src="~/img/building.jpg" alt="Contruction building site">
</div>
<div class="center">
    <h1 style="text-align:center">U.S. Housing Data</h1>
    <p>
        Shelter is a fundamental need for people. Reasearch has shown that housing is highly correlated to the health, economic and functional outcomes of it's residents.
        Despite the advancements we have seen in economic development and technological innovation, providing a residential shelter for people is still one of the largest shortcomings for most nations in the world.
    </p>
    <p>
        The United States with it's resource-rich economy has also struggled with this problem.
        Since the last economic recession in 2008 the role that housing plays in our society has been re-emphasized with many
        interest groups across the country attempting to tackle the problem of housing attainability by lobbying state, county and city-level officials to
        invest more in the creation and maintance of housing. The construction industry, material suppliers and
        development groups have also taken a keen interest in this issue.
    </p>
    <h3 style="text-align:center">Purpose of this Site</h3>
    <p>
        While this information is freely available for anyone to see through open-source libraries, the data is often presented in
        different time and value formats that make trend-analysis not easy to digest. The purpose of this site is to provide interested parties
        with nation-wide quarterly data showing spending in residential construction versus the total inventory. This information can be digested at a macro level, by seeing
        <a asp-controller="Home" asp-action="Graphs">Visualize</a> or easily dragged into a comparison to analyze raw numbers at a yearly level, see <a asp-controller="Home" asp-action="Reports">Years</a> and save some years.
    </p>
    <p>
        The data collected for this site contains all years from 2002 to 2019, and has been categorized and cataloged into a functional <a asp-controller="Home" asp-action="AboutUs">Data Model</a> to enable future functionality and displays.
        For that reason, we would love your <a asp-controller="Home" asp-action="SignUp">feedback</a> as to what you'd like to see and how we can make this site more friendly for you, the user.
    </p>
    <p>
</div>
<div class="main">
    <hr>
    <img class="cont" src="~/img/newHomeConstruction.jpg" alt="Residential Spending">
    <div class="content right">
        <h2>U.S. Spending</h2>
        <p>
            The dataset on spending provides an estimate of total public and private dollar investment
            made in residential units over the years. This applies to any money spent on single-family or multi-family homes.
            Investments made on remodeling or improvements for a residential, owner-occupied property.
        </p>
        <p>
            The data is part of the Value of Construction Put in Place (VIP) monthly survey conducted by the U.S. government.
            This survey covers data on all 50 states and the District of Columbia.
        </p>
        <p>Spending Estimates Include Costs in Construction related to:</p>
        <ul>
            <li>Labor</li>
            <li>Material</li>
            <li>Architectural & Enginnering Surveys</li>
            <li>Overhead, Taxes, Interest & Profit</li>
        </ul>
        <p>Data Source: <a href="https://www.census.gov/construction/c30/c30index.html" title="Census Data" target="_blank">US Census Construction Spending</a></p>
        <p>
            To enhance the visibility of this information in comparison to the total inventory of vacant and occupied housing units,
            we have transformed these values into quarterly values.
        </p>

    </div>
</div>
<div class="main">
    <hr>
    <img class="cont" src="~/img/housingInventory.jpg" alt="Housing Inventory">
    <div class="content right">
        <h2>U.S. Inventory</h2>
        <p>
            The data is sourced by the U.S. government using a sample of about 72,000 housing units of occupied and vacant houses. The coverage of this survey includes all 50 states and
            the District of Columbia. The questionaire is administered by field representatives through personal and phone interviews.
            The dataset on inventory provides current information on the number of housing units available, broken up by the number of:
        </p>
        <ol>
            <li>Occupied Units</li>
            <li>Vacant Units</li>
        </ol>
        <p>A housing unit is considered to be any of the following: </p>
        <ul>
            <li>House</li>
            <li>Apartment</li>
            <li>Group of Rooms</li>
            <li>Separate Living Quarters with a Single Occupancy</li>
        </ul>
        <p>
        </p>
        <p>Data Source: <a href="https://www.census.gov/housing/hvs/index.html" title="Census Data" target="_blank">US Census Housing Vacancies & Homeownership</a></p>
    </div>
</div>
