@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<div>
    <img class="main" src="~/img/building.jpg" alt="Contruction building site">
</div>
<div class="center">
    <h1>Residential Outlook</h1>
    <p>Shelter is a fundamental need for people. It heavily determines their health, economic and functional outcomes. Despite the advancements we have seen in economic development and technological innovation, providing a residential shelter for people is still one of the largest shortcomings for most nations in the world. </p>
    <p>The United States with it's resource-rich economy has also struggled with this problem. Ever since the last economic recession in 2008 the role that housing plays in our society has been re-emphasized with many interest groups across the country attempting to tackle the problem of housing attainability. Similarly, the construction industry, material suppliers and development groups have also taken a keen interest in this issue. Despite the interest, macro-improvements and results are yet to be reflected.</p>
    <p>The purpose of this site is to provide interested parties with nation-wide quarterly data showing construction spending versus the total residential inventory in the US housing market.</p>
</div>
<div class="main">
    <hr>
    <img class="cont" src="~/img/newHomeConstruction.jpg" alt="Residential Spending">
    <div class="content right">
        <h2>Spending</h2>
        <p>The dataset on spending provide an estimate of total dollar value of residential construction work done in the US. Residential spending in this context pertains to any single-family, multi-family or any improvements or remodeling done for a residential owner-occupied property post completion of the original structure.</p>
        <p>Data Source: <a href="https://www.census.gov/construction/c30/c30index.html" title="Census Data" target="_blank">US Cesus Construction Spending</a></p>
    </div>
</div>
<div class="main">
    <hr>
    <img class="cont" src="~/img/housingInventory.jpg" alt="Housing Inventory">
    <div class="content right">
        <h2>Inventory</h2>
        <p>The dataset on inventory provides current information on the number of housing units available. A housing unit is a house, apartment, group of rooms, or a single occupancy that can be utilized as a separate living quarters.</p>
        <p>Data Source: <a href="https://www.census.gov/housing/hvs/index.html" title="Census Data" target="_blank">US Census Housing Vacancies & Homeownership</a></p>
    </div>
</div>
