@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<table>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Time.Year
            </td>
            <td>
                @item.Time.Month
            </td>
            <td>
                @item.Value
            </td>
        </tr>
    }
</tbody>
</table>