@model dynamic
@{
    ViewData["Title"] = "Reports";
}
<head>
    <!--<link rel="stylesheet" type="text/css" href="~/css/reports.css">-->
</head>
<!--<div style="padding-top: 50px;text-align: center;
    background-color: black;
    color:white;
    border-radius: 1px;">
    <h1>Construction Spending</h1>
</div>
<img>-->
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">What the fuck do I put here?</p>
</div>
<div>
    <form asp-controller="Home" asp-action="Reports" method="get">
        <div class="row">
            <div class="col-2">
                <select class="form-control" name="year">
                    <option>Year</option>
                    @foreach (var year in Model.Year)
                    {
                        <option value=@year selected>@year</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select class="form-control" name="category">
                    <option>Category</option>
                    @foreach (var category in Model.Category)
                    {
                        <option value="@category" selected>@category</option>
                    }
                </select>
            </div>
            <div>
                <input type="submit" class="btn btn-light" value="Search">
            </div>
        </div>
    </form>
    <hr>
    <div class="content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
