
@{
    ViewData["Title"] = "SignUp";
}
    <head>
        <style>
            .jumbotron {
                padding: 0rem 0rem;
                text-align: center;
            }
        </style>
    </head>

<div class="container">
            <div class="row">

                <div class="col-xl-10 offset-xl-1 py-5">
                    <div class="jumbotron">
                        <h4 class="display-4"> Contact us for more updates</h4>
                    </div>
                    <form id="contact-form" asp-action="ThankYou" method="post" role="form">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">First Name *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your first name *" required="required" data-error="First name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Last Name *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your last name *" required="required" data-error="Last name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_industry">Industry</label>
                                        <input id="form_industry" type="text" name="industry" class="form-control" placeholder="Please enter your Industry">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Feedback *</label>
                                        <textarea id="form_message" name="feedback" class="form-control" placeholder="Tell us how we can improve *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted">
                                        <strong>*</strong> These fields are required.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->
        </div>
    </div>
<!-- /.container-->