
@{
    ViewData["Title"] = "ThankYou";
}

    <div class="jumbotron">
        <h4 class="display-4"> Thank you you are all Signed up!</h4>
    </div>
<img style="width: 100%;" class="main" src="~/img/thankYou.jpg" alt="Shaking hands">

