
@{
    ViewData["Title"] = "ThankYou";
}

<div style="padding-top: 50px;text-align: center;
    background-color: black;
    color:white;
    border-radius: 1px;">
    <h3>You are all signed up!</h3>
    <h3>Thank you.</h3>
</div>
<img class="main" src="img/thankYou.jpg" alt="Shaking hands">

